<div class="form-group">
    <label>
        <strong>ngx-treeview</strong>
    </label>
    <ngx-treeview [config]="config" [items]="items" (selectedChange)="values = $event">
    </ngx-treeview>
</div>
