<form (ngSubmit)="onSubmit()" #groupForm="ngForm" [formGroup]="form">

    <div class="form-group">
        <label for="category-create-name">название</label>
        <input type="text" class="form-control" id="category-create-name" aria-describedby="category-create-name-help"
               placeholder="введите название категории" formControlName="name" required>
        <small id="category-create-name-help" class="form-text text-muted">We'll never share your email with anyone
            else.
        </small>
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">
            <div *ngIf="name.errors.required">
                обязательно ввод
            </div>
            <div *ngIf="name.errors.minlength">
                минимальная длина 1 символ.
            </div>
            <div *ngIf="name.errors.maxlength">
                максимальная длина 255 символ.
            </div>
            <div *ngIf="name.errors.name">
                уже есть такая котегория
            </div>

        </div>
    </div>
    <div class="form-group">
        <label for="category-create-description">описание</label>
        <textarea rows="3" class="form-control" id="category-create-description"
                  formControlName="description"></textarea>
    </div>
    <!--<div class="form-group">-->
        <!--<label for="category-create-parent">родительская категория</label>-->
        <!--<select class="form-control" id="category-create-parent" formControlName="parent">-->
            <!--<option [value]="0">/</option>-->
            <!--<option *ngFor="let option of options" [value]="option.id">{{option.name}}</option>-->
        <!--</select>-->
    <!--</div>-->
    <app-category-select [count]="100" [msg]="{
        'loading': 'идет поиск',
        'label': 'родительская категория'
    }" [(model)]="model.parent" ></app-category-select>
    <div *ngIf="!loading" [ngSwitch]="status">

        <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
            <h4 class="alert-heading">Успех</h4>
        </div>
        <div *ngSwitchCase="'error'" class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Ошибка ({{error.msg}}})</h4>
            <code>
                <pre>{{error.stack}}</pre>
            </code>
        </div>
    </div>
    <!--<button type="button" class="btn btn-info btn-lg btn-block" (click)="onUpdate()"> обновить</button>-->
    <button type="submit" class="btn btn-lg btn-success btn-block"
            [disabled]="!groupForm.form.valid || loading">
        Создать
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-danger btn-block"
            (click)="onReset()" [disabled]="loading">Сброс
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-secondary btn-block" (click)="onCancel()"
            [disabled]="loading">
        Отменить
    </button>

</form>
