<ng-template #rt let-r="result" let-t="term">
    <img *ngIf="r['flag']" [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" width="16">
    {{ r.name}}
</ng-template>
<div class="form-group">
    <label for="typeahead-template">{{msg.label}}</label>
    <input id="typeahead-template"
           type="text"
           class="form-control"
           [(ngModel)]="model"
           [ngbTypeahead]="search"
           [resultTemplate]="rt"
           [inputFormatter]="formatter"

    />
    <span *ngIf="loading">{{msg.loading}}</span>
    <div class="invalid-feedback" *ngIf="!loading && error">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Ошибка ({{error.msg}}})</h4>
            <code>
                <pre>{{error.stack}}</pre>
            </code>
        </div>
    </div>
</div>
